h1 {
    white-space: nowrap;
}
.head-box{

   
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}
#Go-to{
    
    background: linear-gradient(to right, #A8F, #ADD8E6);
}